GOOGLE_API_KEY=

SERP_API_KEY=

REDDIT_CLIENT_ID=
REDDIT_SECRET=
SERP_DEV_API_KEY=
NEWS_API_KEY=

REDDIT_USERNAME=
REDDIT_PASSWORD=


LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""


MONGO_DB_URI=